In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'/media/minato/Local Disk/My Stuff/Data Science/basic_projects/MLOPS_DVC/MLOPS-DVC'

In [7]:
folder_path = os.path.join(os.getcwd(),"data","Raw_data")

file = os.listdir(os.path.join(os.getcwd(),"data","Raw_data"))[0]

In [8]:
file

'Bank Customer Churn Prediction.csv'

In [9]:
df = pd.read_csv(os.path.join(folder_path,file))

In [10]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1
1,15647311,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0
2,15619304,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1
3,15701354,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0
4,15737888,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0