In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'/media/minato/Local Disk/My Stuff/Data Science/basic_projects/MLOPS_DVC/MLOPS-DVC'

In [3]:
folder_path = os.path.join(os.getcwd(),"data","Raw_data")

file = os.listdir(os.path.join(os.getcwd(),"data","Raw_data"))[0]

In [4]:
file

'Bank Customer Churn Prediction.csv'

In [5]:
df = pd.read_csv(os.path.join(folder_path,file))

In [6]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1
1,15647311,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0
2,15619304,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1
3,15701354,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0
4,15737888,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0

In [7]:
os.makedirs(os.path.join(os.getcwd(),"data","prepocessed_data"),exist_ok=True)

In [8]:
df.drop(["customer_id"],inplace=True,axis=1)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [11]:
X.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary
0,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88
1,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58
2,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57
3,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63
4,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10

In [12]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: churn, dtype: int64

In [13]:
X = pd.get_dummies(X,drop_first=True)

In [14]:
X.head()

,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,country_Germany,country_Spain,gender_Male
0,619.0,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,False,False,False
1,608.0,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,False,True,False
2,502.0,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,False,False,False
3,699.0,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,False,False,False
4,850.0,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,False,True,False

In [15]:
def enc_cols(x:bool):
    if x == True:
        return 1
    else:
        return 0

In [16]:
X["country_Germany"] = X["country_Germany"].apply(enc_cols)
X["country_Spain"] = X["country_Spain"].apply(enc_cols)
X["gender_Male"] = X["gender_Male"].apply(enc_cols)

In [17]:
X

,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,country_Germany,country_Spain,gender_Male
0,619.0,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,0,0,0
1,608.0,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0,1,0
2,502.0,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,0,0,0
3,699.0,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0,0,0
4,850.0,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771.0,39.0,5.0,0.00,2.0,1.0,0.0,96270.64,0,0,1
9996,516.0,35.0,10.0,57369.61,1.0,1.0,1.0,101699.77,0,0,1
9997,709.0,36.0,7.0,0.00,1.0,0.0,1.0,42085.58,0,0,0
9998,772.0,42.0,3.0,75075.31,2.0,1.0,0.0,92888.52,1,0,1
9999,792.0,28.0,4.0,130142.79,1.0,1.0,0.0,38190.78,0,0,0

In [19]:
X.to_csv(os.path.join(os.getcwd(),"data","prepocessed_data","preprocessed.csv"),index=False)

In [20]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [26]:
os.makedirs(os.path.join(os.getcwd(),"data","train_data"),exist_ok=True)
os.makedirs(os.path.join(os.getcwd(),"data","test_data"),exist_ok=True)
os.makedirs(os.path.join(os.getcwd(),"data","labels"),exist_ok=True)

In [27]:
X_train.to_csv(os.path.join(os.getcwd(),"data","train_data","train_data.csv"),index=False)
X_test.to_csv(os.path.join(os.getcwd(),"data","test_data","test_data.csv"),index=False)
y_train.to_csv(os.path.join(os.getcwd(),"data","labels","train_labels.csv"),index=False)
y_test.to_csv(os.path.join(os.getcwd(),"data","labels","test_labels.csv"),index=False)